<div class='row'>
  <div class='card'>
    <div class='card-body'>
      <h5 id={{this.id}} class='card-title'>{{this.title}}</h5>
      <p class='card-text'>{{this.contents}}</p>
      <p class='card-text'>by <strong>{{this.user.username}}</strong> on {{date_formatter this.date_created}}
      </p>
      </div>
    </div>
  </div>
    
    {{#each this.comments}}
    <div class='row'>
      <div class='card'>
        <div class='card-body'>
          
          <p>{{comment_content}} {{user.username}} {{date_formatter date_created}}</p>
          
        </div>
      </div>
    </div>
    {{/each}}
    
    <div class='row'>
      <div class='card text-center'>
        <div class='card-body'>
          <input id='comments-section' class='text-center' placeholder="Comment here">
          <button id="commentBtn">Add comment</button>
        </div>
      </div>
    </div>


<script src='../js/blogpost.js'></script>